<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="TESD MBA Customization" name="TE Tech - MBA Customization" version="23.10.1" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
  <publisher name="Benjamin Kemp">
    <contact email="kempb@tesd.net"/>
  </publisher>
</plugin>